<h2 mat-dialog-title>{{ isEditMode ? 'Editar Tienda' : 'Nueva Tienda' }}</h2>

<mat-dialog-content>
  <form class="shop-form">
    <div class="form-fields">
      <div>
        <mat-form-field class="full-width">
          <mat-label>Nombre de la tienda</mat-label>
          <input matInput [field]="shopForm.name" />
          <mat-icon matSuffix>store</mat-icon>
        </mat-form-field>
        @if (shopForm.name().invalid()) {
          @for (error of shopForm.name().errors(); track error) {
            <mat-error>{{ error.message }}</mat-error>
          }
        }
      </div>

      <div>
        <mat-form-field class="full-width">
          <mat-label>Descripción</mat-label>
          <textarea
            matInput
            rows="3"
            [field]="shopForm.description"
            placeholder="Describe la tienda (opcional)"
          ></textarea>
          <mat-icon matSuffix>description</mat-icon>
        </mat-form-field>
        @if (shopForm.description().invalid()) {
          @for (error of shopForm.description().errors(); track error) {
            <mat-error>{{ error.message }}</mat-error>
          }
        }
      </div>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close type="button">
    <mat-icon>cancel</mat-icon>
    Cancelar
  </button>
  <button
    mat-raised-button
    color="primary"
    type="button"
    [disabled]="shopForm().invalid() || isLoading"
    (click)="onSubmit()"
  >
    @if (isLoading) {
      <mat-progress-spinner diameter="20" strokeWidth="3" mode="indeterminate">
      </mat-progress-spinner>
      <span>{{ isEditMode ? 'Actualizando...' : 'Creando...' }}</span>
    } @else {
      <ng-container>
        <mat-icon>{{ isEditMode ? 'save' : 'add' }}</mat-icon>
        <span>{{ isEditMode ? 'Actualizar' : 'Crear Tienda' }}</span>
      </ng-container>
    }
  </button>
</mat-dialog-actions>
