<h2 mat-dialog-title>{{ isEditMode ? 'Editar Moneda' : 'Nueva Moneda' }}</h2>

<mat-dialog-content>
  <form class="currency-form">
    <div class="form-fields">
      <div>
        <mat-form-field class="full-width">
          <mat-label>Código (ISO)</mat-label>
          <input matInput [field]="currencyForm.code" placeholder="Ej: USD" />
          <mat-icon matSuffix>tag</mat-icon>
          <mat-hint>Código de 3 letras (ISO 4217)</mat-hint>
        </mat-form-field>
        @if(currencyForm.code().invalid()) { @for (error of currencyForm.code().errors(); track
        error) {
        <mat-error>{{ error.message }}</mat-error>
        } }
      </div>

      <div>
        <mat-form-field class="full-width">
          <mat-label>Nombre de la moneda</mat-label>
          <input matInput [field]="currencyForm.name" placeholder="Ej: Dólar estadounidense" />
          <mat-icon matSuffix>account_balance</mat-icon>
        </mat-form-field>
        @if(currencyForm.name().invalid()) { @for (error of currencyForm.name().errors(); track
        error) {
        <mat-error>{{ error.message }}</mat-error>
        } }
      </div>

      <div>
        <mat-form-field class="full-width">
          <mat-label>Símbolo</mat-label>
          <input matInput [field]="currencyForm.symbol" placeholder="Ej: $" />
          <mat-icon matSuffix>currency_exchange</mat-icon>
        </mat-form-field>
        @if(currencyForm.symbol().invalid()) { @for (error of currencyForm.symbol().errors(); track
        error) {
        <mat-error>{{ error.message }}</mat-error>
        } }
      </div>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close type="button">
    <mat-icon>cancel</mat-icon>
    Cancelar
  </button>
  <button
    mat-raised-button
    color="primary"
    type="button"
    [disabled]="currencyForm().invalid() || isLoading"
    (click)="onSubmit()"
  >
    @if (isLoading) {
    <mat-progress-spinner diameter="20" strokeWidth="3" mode="indeterminate">
    </mat-progress-spinner>
    <span>{{ isEditMode ? 'Actualizando...' : 'Creando...' }}</span>
    } @else {
    <ng-container>
      <mat-icon>{{ isEditMode ? 'save' : 'add' }}</mat-icon>
      <span>{{ isEditMode ? 'Actualizar' : 'Crear Moneda' }}</span>
    </ng-container>
    }
  </button>
</mat-dialog-actions>
