<!-- eslint-disable @angular-eslint/template/no-call-expression -->
<div class="example-container" [class.example-is-mobile]="isMobile()">
  <mat-toolbar class="example-toolbar">
    <button
      matIconButton
      (click)="snav.toggle()"
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span>Bills Tracker</span>
    <span class="example-spacer"></span>
    <button matIconButton class="example-icon" aria-label="Perfil de usuario" title="Perfil">
      <mat-icon>account_circle</mat-icon>
    </button>
    <button
      matIconButton
      class="example-icon logout-button"
      aria-label="Cerrar sesión"
      title="Cerrar sesión"
      (click)="logout()"
    >
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>
  <mat-sidenav-container
    class="example-sidenav-container"
    [style.marginTop.px]="isMobile() ? 56 : 0"
  >
    <!-- eslint-disable @angular-eslint/template/no-call-expression -->
    <mat-sidenav
      #snav
      [mode]="isMobile() ? 'over' : 'side'"
      [fixedInViewport]="isMobile()"
      fixedTopGap="56"
    >
      <!-- eslint-enable @angular-eslint/template/no-call-expression -->
      <mat-nav-list>
        @for (navItem of navigationItems; track navItem.id) {
        <app-nav-item [item]="navItem"></app-nav-item>
        }
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <main class="main-content">
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
