// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

// Define theme configuration
$theme-config: (
  color: (
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  typography: Roboto,
  density: 0,
);

// Apply base theme to html
html {
  @include mat.theme($theme-config);
}

// Light theme (default)
body[data-theme='light'] {
  color-scheme: light;
  @include mat.theme($theme-config);

  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
}

// Dark theme
body[data-theme='dark'] {
  color-scheme: dark;
  @include mat.theme(
    (
      color: (
        theme-type: dark,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );

  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
}

body {
  // Reset the user agent margin
  margin: 0;

  // Smooth transition between themes
  transition: background-color 0.3s ease, color 0.3s ease;
}
